# PORTA DA API
API_PORT=4002

# AMBIENTE DE EXECUÇÃO
ENVIRONMENT=development

# URL AUTORIZADA PARA ACESSAR A API
URL_AUTORIZADA_CORS='*'

# JWT
JWT_SECRET=sua_chave_secreta_aqui

# BANCO DE DADOS (PostgreSQL)
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://curupira:curupira_password@localhost:5432/curupira_db?schema=public"

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6380